@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #141212;
}

.CodeMirror{
    font-size: 16px;
    min-height: 94%;
    line-height: 1.7;
}